<div class="jumbotron text-center">
<h1 class="display-1">Giflog</h1>
<p class="text-muted">Remember your favs</p>
</div>

<div class="text-center"><%= button_to  "Log in", login_path, method: :get, class: "btn btn-lg btn-outline-info" %></div>