<h1>Add Category</h1>


<%= form_tag admin_gifs_path do %>
    <%= label_tag :category, 'Category' %>
      <%= search_field_tag :category  %>
  <%= submit_tag 'Create category', class:'button' %>
    <% end %>