<div class="jumbotron">
  <h1><#= @category.title $></h1>
</div>

<% @category.gifs.each do |gif| %>
  <%= image_tag(gif.image_path) %>
  <%= link_to  "Add to Favorites", new_favorite_path %>
<% end %>